# DON`T FORGET TO UPDATE BUILD.JS WITH NEW ENV VARIABLES

ENV="local"
PORT="number"
SQLITE_DB_PATH="string"
SENTRY_DSN="string"

# JWT
JWT_ACCESS_SECRET="string"
JWT_REFRESH_SECRET="string"

# AWS
CLOUD_WATCH_LOG_GROUP="string"
CLOUD_WATCH_LOG_STREAM="string"

AWS_REGION="string"

AWS_ACCESS_KEY_ID="string"
AWS_SECRET_KEY="string"

# SendGrid
SENDGRID_API_KEY="string"

# SendGrid Template IDS
LOGIN_OTP_TEMPLATE_ID="string"

# Redis
REDIS_HOST="string"
REDIS_PORT="number"
REDIS_DB="number"

# Passkeys
RP_ID="string"